@media (max-width: 768px) {
    .nav-lista {
        font-size: 1.5rem;
    }

    section .h1-main {
        height: 73vh;
    }

    main .div-quienes-somos {
        grid-template-rows: 0fr 0.5fr 0.5fr 1fr 1fr;
    }

    div .Parrafo {
        font-size: small;
    }

    main .section-padre {
        grid-template-rows: 0fr 0.5fr 1.5fr 1fr 1fr;
    }

    section .prrfo {
        margin-left: 2rem;
        font-size: small;
    }

    section .imgg {
        width: 24rem;
    }

    section .sect-cards {
        width: 46rem;
        gap: 2rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    main .section-ultimas-noticias {
        gap: 0rem 3rem;
        grid-template-rows: 0fr 0.5fr 0.5fr 1fr 4fr;
        align-items: end;
    }


    section .titulo-p-2 {
        margin-bottom: 1rem;
    }

}

@media (max-width: 768px) {
    footer .redes-sociales {
        gap: 0px 30px;
    }

    section .iframe {
        width: 257px;
        height: 280px;
    }

    section .nombre {
        display: flex;
        justify-content: center;
    }

    section .sociales {
        margin-bottom: 8rem;
    }
}

@media (max-width: 320px) {
    nav .nav-lista{
        flex-wrap: wrap;
    }
    section .h1-main{
        height: 25vh;
    }
    section .propuesta{
        margin-left: 1rem;
    }
    section .sect-cards {
        width: 100vw;
        flex-direction: column;
        
    }

    main .div-quienes-somos {
        display: block;
        display: flex;
        flex-direction: column;
        
    }
    div .Parrafo{
        margin-left: 2rem;
    }

    div .Imagen {
        width: 18rem;
        height: 18rem;
    }

    div .Quienes-somos {
        font-size: 1.5rem;
    }

    main .section-padre {
        display: block;
        display: flex;
        flex-direction: column;
    }

    section .imgg {
        width: 18rem;
    }

    section .pqe {
        font-size: 1.5rem;
    }

    section .tun {
        font-size: 2rem;
    }

    main .section-ultimas-noticias {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-left: 2rem;
        width: 73vw;
    }

    footer .redes-sociales {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section .sociales{
        margin-bottom: 3rem;

    }
    section .iframe{
        margin-bottom: 2rem;
    }
}