@media (max-width: 768px) {
    .nav-lista {
        font-size: 1.5rem;
    }

    section .h1-main {
        height: 73vh;
    }

    main .div-quienes-somos {
        grid-template-rows: 0fr 0.5fr 0.5fr 1fr 1fr;
    }

    div .Parrafo {
        font-size: small;
    }

    main .section-padre {
        grid-template-rows: 0fr 0.5fr 1.5fr 1fr 1fr;
    }

    section .prrfo {
        margin-left: 3rem;
        font-size: small;
    }

    section .imgg {
        width: 24rem;
    }

    section .sect-cards {
        width: 46rem;
        gap: 2rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    main .section-ultimas-noticias {
        gap: 0rem 3rem;
        grid-template-rows: 0fr 0.5fr 0.5fr 1fr 4fr;
        align-items: end;
    }


    section .titulo-p-2 {
        margin-bottom: 1rem;
    }

}

@media (max-width: 768px) {
    footer .redes-sociales {
        gap: 0px 30px;
    }

    section .iframe {
        width: 257px;
        height: 280px;
    }

    section .nombre {
        display: flex;
        justify-content: center;
    }

    section .sociales {
        margin-bottom: 8rem;
    }
}

@media (max-width: 320px) {
    section .sect-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    main .div-quienes-somos {
        grid-template-columns: 10rem 10rem 10rem 13rem 2rem 0rem;
        grid-template-rows: 8rem 1rem 19.5rem 12rem 4rem;
    }

    div .Imagen {
        width: 27rem;
        height: 27rem;
    }

    div .Quienes-somos {
        font-size: 2.5rem;
    }

    main .section-padre {
        grid-template-columns: 2rem 1rem 13rem 15rem 14rem 2rem;
    }

    section .imgg {
        width: 29rem;
    }

    section .pqe {
        font-size: 1.5rem;
    }

    section .tun {
        font-size: 2rem;
    }

    main .section-ultimas-noticias {
        grid-template-columns: 2rem 6rem 7rem 9rem 4rem 3rem;
        margin-left: 1rem;
    }

    footer .redes-sociales {
        grid-template-columns: 5rem 7rem 10rem 6rem 8rem 2rem;
    }

}